- content_for :jumbotron do
  %header.jumbotron.subhead
    .container
      %h1 Welcome to EasyShop!
      .lead An easy way to shop online

/ Row 1
.row
  %a{:href => "items/results?search=outdoor"}
    .span4.pagination-centered.category
      %img{:src => "assets/basketball.png", :width => "175", :style=>"padding-top:13px"}
      %h3.categories{:style => "text-align: center;"} Sports/Outdoor
  %a{:href => "items/results?search=toys"}
    .span4.pagination-centered.category
      %img{:src => "assets/toys.png", :width => "175", :style=>"padding:32px 0 17px 0"}
      %h3.categories{:style => "text-align: center"} Toys
  %a{:href => "items/results?search=clothes"}
    .span4.pagination-centered.category
      %img{:src => "assets/clothes.png", :width => "175", :style=>"padding-top:13px"}
      %h3.categories{:style => "text-align: center"} Clothes

/ Row 2
.row.search-row
  .span6.offset3.pagination-centered
    = form_tag '/items/results', :id => "search-bar-home", :class => "navbar-search", :method => :get do
      = text_field_tag :search, params[:search], :id => "search-bar-home-form", :class => "search-query search-bar-home span5", :placeholder => "Search"
      = image_submit_tag "magnifying_glass_small.png", :name => nil, :class => "btn" do
        %i.icon-white

/ Row 3
.row
  %a{:href => "items/results?search=food"}
    .span4.pagination-centered.category
      %img{:src => "assets/food.png", :width => "175", :style=>"padding:8px 0 5px 0"}
      %h3.categories{:style => "text-align: center"} Food
  %a{:href => "items/results?search=office"}
    .span4.pagination-centered.category
      %img{:src => "assets/office_supplies.svg", :width => "175", :style=>"padding: 8px 0 5px 0"}
      %h3.categories{:style => "text-align: center"} Office Supplies
  %a{:href => "items/results?search=electronics"}
    .span4.pagination-centered.category
      %img{:src => "assets/electronics.png", :width => "175", :style=>"padding: 8px 0 5px 0"}
      %h3.categories{:tyle => "text-align: center"} Electronics
