<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>EasyShop</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Load style sheets -->
    <link href="resources/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="resources/css/font-awesome.min.css" rel="stylesheet">

    <!-- Load supplemental Javascript -->
    <script type="text/javascript" src="resources/js/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="resources/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="resources/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="resources/js/index.js"></script>

    <meta charset="utf-8" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css" />
    <link rel="stylesheet" href="resources/css/search_results.css" />
</head>
    <% 
		$i = @items.count 
		$numRows = 3
		$numColumns = 3
		$k = 0
	%>
    <% while $k < $numRows and $i > 0  do %>
    <div class="row">
		<% $j = 0 %>
		<% while $j < $numColumns and $i > 0 do %> 
        <div class="span4 well" style= "solid #eee; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
          <h2><%= @items[-($i-@items.count)].name %></h2>
          <img src="http://cdn4.iconfinder.com/data/icons/Primo_Icons/PNG/128x128/shopping_cart.png" style="height:200px;width:200px;">
            
          <p style="padding-top: 25px; "><%= @items[-($i-@items.count)].description %></p>
	<h2 style="padding-left:0px font-size:2em;"> $<%= @items[-($i-@items.count)].price %>
			<div class="btn-group" style="float:right;">
					<button class="btn btn-small" href="product_page.html">Info</button>
					<button class="btn btn-primary btn-small">Add to Cart</button>
    			</div>
        </div>
	</h2>
		<% $i -= 1 %>
		<% $j += 1 %>
		<% end %>
    </div>
	<% $k += 1 %>
	<% end %>

<br />
