/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require cosmo/loader
 *= require font-awesome/font-awesome
 */

body {
  font-family: 'Raleway', sans-serif;
  padding-top: 60px;
}

.welcome, .categories{
  text-align: center;
}

.welcome {
  margin-bottom: 20px;
}

.jumbotron {
  margin-top: -10px;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 5px;
  background: #eee;
  -moz-box-shadow: 0 5px 2px -2px gray;
  -webkit-box-shadow: 0 5px 2px -2px gray;
  box-shadow: 0 5px 2px -2px gray;
}

#search {
  border-radius: 0;
  margin-top: 10px;
}

#search-bar {
  margin-top: 0; !important
  width: auto;
}

#search-bar-home {
  margin-top:0px;
}

#search-bar-home-form {
  border-radius: 0;
}

.search-row {
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn-group {
  display: inline-block;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
  background: #fff;
}

#footer, .push {
  text-align: center;
  clear: both;
  padding: 7px 0 0 0;
}

#footer {
  position: fixed;
  height: 2em;
  color: #888;
  background-color: #cce5ff;
  bottom: 0;
  width: 100%;
}

.push {
  height: 3em;
}

.category {
  background: #eee;
  -moz-box-shadow: 0 5px 10px -2px gray;
  -webkit-box-shadow: 0 5px 10px -2px gray;
  box-shadow: 0 5px 10px -2px gray;
}

.category:hover {
  background: #eee;
  -moz-box-shadow: 0 5px 5px -2px gray;
  -webkit-box-shadow: 0 5px 5px -2px gray;
  box-shadow: 0 5px 5px -2px gray;
}

.item-result {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-style: solid;
  border-top-width: 1px;
  border-top-color: #ccc;
  border-left-width: 1px;
  border-left-color: #ccc;
  border-right-width: 1px;
  border-right-color: #000;
  border-bottom-width: 1px;
  border-bottom-color: #000;
}
