/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require cosmo/loader
 *= require font-awesome/font-awesome
 */

body {
  padding-top:60px
}

.welcome, .categories{
  text-align: center;
}

.welcome {
  margin-bottom: 20px;
}

#search {
  border-radius: 0;
  margin-top: 10px;
}

#search-bar {
  margin-top: 0; !important
  width: auto;
}

#search-bar-home-form {
  border-radius: 0;
}

.btn-group {
  display: inline-block;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

#footer, .push {
  text-align: center;
  clear: both;
}

#footer {
  position: fixed;
  height: 1.6em;
  color: #fff;
  background-color: #0072e6;
  bottom: 0;
  width: 100%;
}

.push {
  height: 3em;
}
